
$font-size: 18px;
$botui-width: 500px;
$text-color: #E6E9ED;
$primary-color: #039ca2;
$secondary-color: rgb(19, 142, 183);

@import '../node_modules/@botui/react/dist/styles/default.theme.scss';

.demo_container {
  .botui_container > * {
    margin: 10px;
  }
}